// @import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Oleo Script Swash Caps');

button {
  
  // font-weight: bold;
  margin: 0
  
  
}

.titles {
  font-family: 'Lobster';
  color: white;
  font-size: 1em;
}

.startmatch {
  background-color: #FFA74B;
  font-size: 1.35em;
  margin-bottom: 1em;
  color: white;
  padding: 0.5em;
  padding-left: .5em;
  padding-right: .5em;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 2px 2px 10px #0F4953;
}

.nope {
  background-color: #fc5148;
  display:block;
  color: white;
  padding: 15px;
  font-size: 2em;
  width: 100%;
  padding-right: 0.5em;
  border-radius: 25px;
  box-shadow: 2px 2px 10px #0F4953;
  font-family: 'Lobster';
  
  &:hover {
    background-color: #db0d02;
    cursor: pointer;
  }
}

.yes {
  background-color:  #20c886;
  display:block;
  width: 100%;
  color: white;
  padding: 15px;
  font-size: 2em;
  margin-left: 0.7em;
  border-radius: 25px;
  box-shadow: 2px 2px 10px #0F4953;
  font-family: 'Lobster';

  &:hover {
    background-color: #00b24c;
    cursor: pointer;
  }
}

