@import url('https://fonts.googleapis.com/css?family=Lobster');

.cardHeader {
  margin-bottom: .5em;
  font-size: 2.5em;
  font-weight: "Medium";
  background-color: #fc5149;
  color: "white",
}